.posts {
  .content {
    header {
      text-align: center;
      .date {
        font-size: .9em;
        color: $light;
        margin: 0;
      }
      h1 {
        margin: 0;
      }
    }
    hr {
      margin: 3em auto;
    }
  }
}
