.welcome {
  margin: 0 auto;

  p {
    margin: 0 auto;
    width: 50%;
  }

  .date {
    padding-bottom: 10px;
  }

  .badge {
    a {
      color: $white;
    }

    a:hover {
      text-decoration: none;
    }
  }

  .jumbotron {
    margin-top: 20px;
    padding-top: 28px;
    padding-bottom: 28px;
  }

  @media only screen and (max-device-width: 480px) {
    p {
      width: 90%;
    }
  }
}
