* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 60px;
}

.skinny-wrapper {
  margin: 0 auto;
  max-width: 760px;
  padding: 4rem 0;
  width: 80%;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  color: $dark;
}

p,
ul,
ol {
  margin: 0 0 1.6em;
}

hr {
  border: 0;
  border-top: 2px solid $highlight;
  display: block;
  height: 2px;
  margin: 2rem 0;
  width: 5em;
}

.main-navigation {
  border-bottom: 1px solid $border;
  padding: 2.5em 5%;

  .name {
    color: $dark;
    float: left;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 4px;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: $highlight;
    }
  }

  .social-links {
    float: right;

    a:hover {
      text-decoration: none;
    }

    i {
      color: $dark;
      font-size: 30px;
      margin-left: 1em;
    }

    i:hover {
      color: $highlight;
    }
  }
}

.notice-alert-messages {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  width: 100%;
  z-index: 999;

  .alert,
  .notice {
    color: $white;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0;
    padding: 2.5rem 0;
    text-align: center;
  }

  .alert {
    background: $alert-red;

  }

  .notice {
    background: $notice-blue;
  }
}

.pagination::before,
.pagination::after {
  content: ' ';
  display: table;
}

.pagination::after {
  clear: box;
}

.pagination {
  margin-top: 20px;
  text-align: center;
  width: 100%;

  a,
  span,
  .current {
    background: $white;
    border-radius: .15em;
    color: $dark;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    margin: 0 .5em;
    padding: .75em 1em;
    text-decoration: none;

    &:hover {
      background: $highlight;
      color: $white;
    }
  }

  .current {
    background: $highlight;
    color: $white;
  }

  .disabled {
    color: $gray;

    &:hover {
      background: $white;
      color: $gray;
    }
  }
}
