<footer id="main_footer">
  <p class="copyright">Built with <i class="fa fa-heart"></i> in <a href="https://en.wikipedia.org/wiki/Phoenix,_Arizona" target="_blank">Phoenix, AZ</a></p>
  <nav id="social_links">
      <a href="https://twitter.com/jareddgray" target="_blank"><i class="fa fa-twitter"></i></a>
      <a href="http://github.com/jd-gray" target="_blank"><i class="fa fa-github"></i></a>
      <a href="https://www.linkedin.com/in/jareddgray" target="_blank"><i class="fa fa-linkedin"></i></a>
      <a href="https://www.facebook.com/jdgray8" target="_blank"><i class="fa fa-facebook"></i></a>
  </nav>
</footer>