%header.main-navigation.clearfix
  = link_to 'Jared Gray', root_path, class: 'name'

  .social-links
    %a{ href: 'http://github.com/jd-gray', target: '_blank' }
      %i.fa.fa-github
    %a{ href: 'http://stackoverflow.com/users/4735914/jdgray?tab=profile', target: '_blank' }
      %i.fa.fa-stack-overflow
    %a{ href: 'https://www.linkedin.com/in/jareddgray', target: '_blank' }
      %i.fa.fa-linkedin
